<div class="row mcentered text-center justify-center memeField">
    <div class="col-6 mcentered text-center justify-center">
        <div class="row mcentered text-center justify-center">
            <div class="col-12 mcentered text-center justify-center">
                <img ng-src="{{memes.locPrefix+meme.location}}" class="img-fluid">
            </div>
        </div>
        <div class="row mcentered text-center justify-center">
            <div class="col-12 mcentered text-center justify-center">
                <span class="memeTitle">{{meme.name}}</span><br />
                &#128077; {{meme.likes}}<br />
            </div>
        </div>
    </div>
</div>